// Prism Design System — Text Semantic Color Tokens
:root {
  --semantics-text-subtle-primary-default: var(--primitives-neutral-gray-900);
  --semantics-text-subtle-primary-disabled: var(--primitives-neutral-gray-700);
  --semantics-text-subtle-primary-focus: var(--primitives-neutral-gray-900);
  --semantics-text-subtle-primary-hover: var(--primitives-neutral-gray-800);
  --semantics-text-subtle-primary-inversed-dynamic: var(--primitives-neutral-default);
  --semantics-text-subtle-primary-inversed-static: var(--primitives-neutral-default);
  --semantics-text-subtle-primary-pressed: var(--primitives-neutral-gray-900);
  --semantics-text-subtle-secondary-focus: var(--primitives-neutral-gray-800);
  --semantics-text-subtle-secondary-hover: var(--primitives-neutral-gray-700);
  --semantics-text-brand-default: var(--primitives-brand-blue-500);
  --semantics-text-brand-focus: var(--primitives-brand-blue-500);
  --semantics-text-brand-hover: var(--primitives-brand-blue-600);
  --semantics-text-brand-inversed-dynamic: var(--primitives-brand-blue-900);
  --semantics-text-brand-inversed-static: var(--primitives-brand-blue-900);
  --semantics-text-brand-pressed: var(--primitives-brand-blue-700);
  --semantics-text-link-brand-default: var(--primitives-brand-blue-500);
  --semantics-text-link-brand-hover: var(--primitives-brand-blue-600);
  --semantics-text-link-brand-inversed-dynamic: var(--primitives-brand-blue-900);
  --semantics-text-link-brand-inversed-static: var(--primitives-brand-blue-900);
  --semantics-text-link-brand-pressed: var(--primitives-brand-blue-700);
  --semantics-text-link-status-error-default: var(--primitives-error-red-500);
  --semantics-text-link-status-error-hover: var(--primitives-error-red-600);
  --semantics-text-link-status-error-inversed-dynamic: var(--primitives-error-red-900);
  --semantics-text-link-status-error-inversed-static: var(--primitives-error-red-900);
  --semantics-text-link-status-error-pressed: var(--primitives-error-red-700);
  --semantics-text-link-status-info-default: var(--primitives-brand-blue-500);
  --semantics-text-link-status-info-hover: var(--primitives-brand-blue-600);
  --semantics-text-link-status-info-inversed-dynamic: var(--primitives-brand-blue-900);
  --semantics-text-link-status-info-inversed-static: var(--primitives-brand-blue-900);
  --semantics-text-link-status-info-pressed: var(--primitives-brand-blue-700);
  --semantics-text-link-status-success-default: var(--primitives-success-green-500);
  --semantics-text-link-status-success-hover: var(--primitives-success-green-600);
  --semantics-text-link-status-success-inversed-dynamic: var(--primitives-success-green-900);
  --semantics-text-link-status-success-inversed-static: var(--primitives-success-green-900);
  --semantics-text-link-status-success-pressed: var(--primitives-success-green-700);
  --semantics-text-link-status-warning-default: var(--primitives-warning-orange-500);
  --semantics-text-link-status-warning-hover: var(--primitives-warning-orange-600);
  --semantics-text-link-status-warning-inversed-dynamic: var(--primitives-warning-orange-900);
  --semantics-text-link-status-warning-inversed-static: var(--primitives-warning-orange-900);
  --semantics-text-link-status-warning-pressed: var(--primitives-warning-orange-700);
  --semantics-text-link-subtle-default: var(--primitives-neutral-gray-900);
  --semantics-text-link-subtle-disabled: var(--primitives-neutral-gray-700);
  --semantics-text-link-subtle-hover: var(--primitives-neutral-gray-800);
  --semantics-text-link-subtle-inversed-dynamic: var(--primitives-neutral-gray-900);
  --semantics-text-link-subtle-inversed-static: var(--primitives-neutral-gray-900);
  --semantics-text-link-subtle-pressed: var(--primitives-neutral-gray-900);
  --semantics-text-on-fill-error-default: var(--primitives-error-red-600);
  --semantics-text-on-fill-error-focus: var(--primitives-error-red-600);
  --semantics-text-on-fill-error-hover: var(--primitives-error-red-700);
  --semantics-text-on-fill-error-inversed-dynamic: var(--primitives-error-red-900);
  --semantics-text-on-fill-error-inversed-static: var(--primitives-error-red-900);
  --semantics-text-on-fill-error-pressed: var(--primitives-error-red-800);
  --semantics-text-on-fill-info-default: var(--primitives-brand-blue-600);
  --semantics-text-on-fill-info-focus: var(--primitives-brand-blue-600);
  --semantics-text-on-fill-info-hover: var(--primitives-brand-blue-700);
  --semantics-text-on-fill-info-inversed-dynamic: var(--primitives-brand-blue-900);
  --semantics-text-on-fill-info-inversed-static: var(--primitives-brand-blue-900);
  --semantics-text-on-fill-info-pressed: var(--primitives-brand-blue-800);
  --semantics-text-on-fill-subtle-disabled: var(--primitives-neutral-gray-700);
  --semantics-text-on-fill-subtle-inversed-dynamic: var(--primitives-neutral-default);
  --semantics-text-on-fill-subtle-inversed-static: var(--primitives-neutral-default);
  --semantics-text-on-fill-subtle-primary: var(--primitives-neutral-gray-900);
  --semantics-text-on-fill-subtle-secondary: var(--primitives-neutral-gray-800);
  --semantics-text-on-fill-success-default: var(--primitives-success-green-600);
  --semantics-text-on-fill-success-focus: var(--primitives-success-green-600);
  --semantics-text-on-fill-success-hover: var(--primitives-success-green-700);
  --semantics-text-on-fill-success-inversed-dynamic: var(--primitives-success-green-900);
  --semantics-text-on-fill-success-inversed-static: var(--primitives-success-green-900);
  --semantics-text-on-fill-success-pressed: var(--primitives-success-green-800);
  --semantics-text-on-fill-warning-default: var(--primitives-warning-orange-600);
  --semantics-text-on-fill-warning-focus: var(--primitives-warning-orange-600);
  --semantics-text-on-fill-warning-hover: var(--primitives-warning-orange-700);
  --semantics-text-on-fill-warning-inversed-dynamic: var(--primitives-warning-orange-900);
  --semantics-text-on-fill-warning-inversed-static: var(--primitives-warning-orange-900);
  --semantics-text-on-fill-warning-pressed: var(--primitives-warning-orange-800);
  --semantics-text-status-error-default: var(--primitives-error-red-500);
  --semantics-text-status-error-focus: var(--primitives-error-red-500);
  --semantics-text-status-error-hover: var(--primitives-error-red-600);
  --semantics-text-status-error-inversed-dynamic: var(--primitives-error-red-900);
  --semantics-text-status-error-inversed-static: var(--primitives-error-red-900);
  --semantics-text-status-error-pressed: var(--primitives-error-red-700);
  --semantics-text-status-info-default: var(--primitives-brand-blue-500);
  --semantics-text-status-info-focus: var(--primitives-brand-blue-500);
  --semantics-text-status-info-hover: var(--primitives-brand-blue-600);
  --semantics-text-status-info-inversed-dynamic: var(--primitives-brand-blue-900);
  --semantics-text-status-info-inversed-static: var(--primitives-brand-blue-900);
  --semantics-text-status-info-pressed: var(--primitives-brand-blue-700);
  --semantics-text-status-subtle-default: var(--primitives-neutral-gray-900);
  --semantics-text-status-subtle-focus: var(--primitives-neutral-gray-900);
  --semantics-text-status-subtle-hover: var(--primitives-neutral-gray-800);
  --semantics-text-status-subtle-inversed-dynamic: var(--primitives-neutral-default);
  --semantics-text-status-subtle-inversed-static: var(--primitives-neutral-default);
  --semantics-text-status-subtle-pressed: var(--primitives-neutral-gray-900);
  --semantics-text-status-success-default: var(--primitives-success-green-500);
  --semantics-text-status-success-focus: var(--primitives-success-green-500);
  --semantics-text-status-success-hover: var(--primitives-success-green-600);
  --semantics-text-status-success-inversed-dynamic: var(--primitives-success-green-900);
  --semantics-text-status-success-inversed-static: var(--primitives-success-green-900);
  --semantics-text-status-success-pressed: var(--primitives-success-green-700);
  --semantics-text-status-warning-default: var(--primitives-warning-orange-500);
  --semantics-text-status-warning-focus: var(--primitives-warning-orange-500);
  --semantics-text-status-warning-hover: var(--primitives-warning-orange-600);
  --semantics-text-status-warning-inversed-dynamic: var(--primitives-warning-orange-900);
  --semantics-text-status-warning-inversed-static: var(--primitives-warning-orange-900);
  --semantics-text-status-warning-pressed: var(--primitives-warning-orange-700);
}

[data-theme='dark'] {
  --semantics-text-subtle-primary-inversed-static: var(--primitives-neutral-inversed);
  --semantics-text-brand-inversed-static: var(--primitives-brand-blue-100);
  --semantics-text-link-brand-inversed-static: var(--primitives-brand-blue-100);
  --semantics-text-link-status-error-inversed-static: var(--primitives-error-red-100);
  --semantics-text-link-status-info-inversed-static: var(--primitives-brand-blue-100);
  --semantics-text-link-status-success-inversed-static: var(--primitives-success-green-100);
  --semantics-text-link-status-warning-inversed-static: var(--primitives-warning-orange-100);
  --semantics-text-link-subtle-inversed-static: var(--primitives-neutral-gray-50);
  --semantics-text-on-fill-error-inversed-dynamic: var(--primitives-error-red-100);
  --semantics-text-on-fill-info-inversed-static: var(--primitives-brand-blue-100);
  --semantics-text-on-fill-subtle-inversed-static: var(--primitives-neutral-inversed);
  --semantics-text-on-fill-success-inversed-static: var(--primitives-success-green-100);
  --semantics-text-on-fill-warning-inversed-static: var(--primitives-warning-orange-100);
  --semantics-text-status-error-inversed-static: var(--primitives-error-red-100);
  --semantics-text-status-info-inversed-static: var(--primitives-brand-blue-100);
  --semantics-text-status-subtle-inversed-static: var(--primitives-neutral-inversed);
  --semantics-text-status-success-inversed-static: var(--primitives-success-green-100);
  --semantics-text-status-warning-inversed-static: var(--primitives-warning-orange-100);
}
