// Prism Design System — Fill Semantic Color Tokens
:root {
  --semantics-fill-subtle-primary-default: var(--primitives-neutral-gray-900);
  --semantics-fill-subtle-primary-disabled: var(--primitives-neutral-gray-100);
  --semantics-fill-subtle-primary-focus: var(--primitives-neutral-gray-900);
  --semantics-fill-subtle-primary-hover: var(--primitives-neutral-gray-800);
  --semantics-fill-subtle-primary-inversed-dynamic: var(--primitives-neutral-gray-50);
  --semantics-fill-subtle-primary-inversed-static: var(--primitives-neutral-gray-50);
  --semantics-fill-subtle-primary-pressed: var(--primitives-neutral-gray-800);
  --semantics-fill-subtle-secondary-default: var(--primitives-neutral-default);
  --semantics-fill-subtle-secondary-focus: var(--primitives-neutral-default);
  --semantics-fill-subtle-secondary-hover: var(--primitives-neutral-gray-50);
  --semantics-fill-subtle-secondary-inversed-dynamic: var(--primitives-neutral-gray-900);
  --semantics-fill-subtle-secondary-inversed-static: var(--primitives-neutral-gray-900);
  --semantics-fill-subtle-secondary-pressed: var(--primitives-neutral-gray-100);
  --semantics-fill-subtle-tertiary-default: var(--primitives-neutral-gray-100);
  --semantics-fill-subtle-tertiary-focus: var(--primitives-neutral-gray-100);
  --semantics-fill-subtle-tertiary-hover: var(--primitives-neutral-gray-200);
  --semantics-fill-subtle-tertiary-pressed: var(--primitives-neutral-gray-200);
  --semantics-fill-brand-default: var(--primitives-brand-blue-500);
  --semantics-fill-brand-focus: var(--primitives-brand-blue-500);
  --semantics-fill-brand-hover: var(--primitives-brand-blue-600);
  --semantics-fill-brand-pressed: var(--primitives-brand-blue-700);
  --semantics-fill-status-error-primary-default: var(--primitives-error-red-500);
  --semantics-fill-status-error-primary-focus: var(--primitives-error-red-500);
  --semantics-fill-status-error-primary-hover: var(--primitives-error-red-600);
  --semantics-fill-status-error-primary-pressed: var(--primitives-error-red-700);
  --semantics-fill-status-error-secondary-default: var(--primitives-error-red-500-10);
  --semantics-fill-status-error-secondary-disabled: var(--primitives-error-red-500-15);
  --semantics-fill-status-error-secondary-focus: var(--primitives-error-red-500-10);
  --semantics-fill-status-error-secondary-hover: var(--primitives-error-red-500-25);
  --semantics-fill-status-error-secondary-pressed: var(--primitives-error-red-500-25);
  --semantics-fill-status-info-primary-default: var(--primitives-brand-blue-500);
  --semantics-fill-status-info-primary-focus: var(--primitives-brand-blue-500);
  --semantics-fill-status-info-primary-hover: var(--primitives-brand-blue-600);
  --semantics-fill-status-info-primary-pressed: var(--primitives-brand-blue-700);
  --semantics-fill-status-info-secondary-default: var(--primitives-brand-blue-500-10);
  --semantics-fill-status-info-secondary-disabled: var(--primitives-brand-blue-500-15);
  --semantics-fill-status-info-secondary-focus: var(--primitives-brand-blue-500-10);
  --semantics-fill-status-info-secondary-hover: var(--primitives-brand-blue-500-25);
  --semantics-fill-status-info-secondary-pressed: var(--primitives-brand-blue-500-25);
  --semantics-fill-status-subtle-primary-default: var(--primitives-neutral-gray-900);
  --semantics-fill-status-subtle-primary-focus: var(--primitives-neutral-gray-900);
  --semantics-fill-status-subtle-primary-hover: var(--primitives-neutral-gray-800);
  --semantics-fill-status-subtle-primary-inversed-dynamic: var(--primitives-neutral-default);
  --semantics-fill-status-subtle-primary-inversed-static: var(--primitives-neutral-default);
  --semantics-fill-status-subtle-primary-pressed: var(--primitives-neutral-gray-800);
  --semantics-fill-status-subtle-secondary-default: var(--primitives-neutral-black-shade-10);
  --semantics-fill-status-subtle-secondary-disabled: var(--primitives-neutral-gray-200);
  --semantics-fill-status-subtle-secondary-focus: var(--primitives-neutral-black-shade-10);
  --semantics-fill-status-subtle-secondary-hover: var(--primitives-neutral-black-shade-15);
  --semantics-fill-status-subtle-secondary-inversed-dynamic: var(--primitives-neutral-50-tint-15);
  --semantics-fill-status-subtle-secondary-inversed-static: var(--primitives-neutral-50-tint-15);
  --semantics-fill-status-subtle-secondary-pressed: var(--primitives-neutral-black-shade-25);
  --semantics-fill-status-success-primary-default: var(--primitives-success-green-500);
  --semantics-fill-status-success-primary-focus: var(--primitives-success-green-500);
  --semantics-fill-status-success-primary-hover: var(--primitives-success-green-600);
  --semantics-fill-status-success-primary-pressed: var(--primitives-success-green-700);
  --semantics-fill-status-success-secondary-default: var(--primitives-success-green-500-10);
  --semantics-fill-status-success-secondary-disabled: var(--primitives-success-green-500-15);
  --semantics-fill-status-success-secondary-focus: var(--primitives-success-green-500-10);
  --semantics-fill-status-success-secondary-hover: var(--primitives-success-green-500-25);
  --semantics-fill-status-success-secondary-pressed: var(--primitives-success-green-500-25);
  --semantics-fill-status-warning-primary-default: var(--primitives-warning-orange-500);
  --semantics-fill-status-warning-primary-focus: var(--primitives-warning-orange-500);
  --semantics-fill-status-warning-primary-hover: var(--primitives-warning-orange-600);
  --semantics-fill-status-warning-primary-pressed: var(--primitives-warning-orange-700);
  --semantics-fill-status-warning-secondary-default: var(--primitives-warning-orange-500-10);
  --semantics-fill-status-warning-secondary-disabled: var(--primitives-warning-orange-500-15);
  --semantics-fill-status-warning-secondary-focus: var(--primitives-warning-orange-500-10);
  --semantics-fill-status-warning-secondary-hover: var(--primitives-warning-orange-500-25);
  --semantics-fill-status-warning-secondary-pressed: var(--primitives-warning-orange-500-25);
}

[data-theme='dark'] {
  --semantics-fill-subtle-primary-inversed-static: var(--primitives-neutral-gray-900);
  --semantics-fill-subtle-secondary-default: var(--primitives-neutral-gray-100);
  --semantics-fill-subtle-secondary-focus: var(--primitives-neutral-gray-100);
  --semantics-fill-subtle-secondary-hover: var(--primitives-neutral-gray-200);
  --semantics-fill-subtle-secondary-inversed-static: var(--primitives-neutral-gray-100);
  --semantics-fill-subtle-secondary-pressed: var(--primitives-neutral-gray-300);
  --semantics-fill-subtle-tertiary-pressed: var(--primitives-neutral-gray-500);
  --semantics-fill-status-error-secondary-default: var(--primitives-error-red-500-25);
  --semantics-fill-status-error-secondary-disabled: var(--primitives-error-red-500-25);
  --semantics-fill-status-error-secondary-focus: var(--primitives-error-red-500-25);
  --semantics-fill-status-error-secondary-hover: var(--primitives-error-red-500-50);
  --semantics-fill-status-error-secondary-pressed: var(--primitives-error-red-500-50);
  --semantics-fill-status-info-secondary-default: var(--primitives-brand-blue-500-25);
  --semantics-fill-status-info-secondary-disabled: var(--primitives-brand-blue-500-25);
  --semantics-fill-status-info-secondary-focus: var(--primitives-brand-blue-500-25);
  --semantics-fill-status-info-secondary-hover: var(--primitives-brand-blue-500-50);
  --semantics-fill-status-info-secondary-pressed: var(--primitives-brand-blue-500-50);
  --semantics-fill-status-subtle-primary-inversed-static: var(--primitives-neutral-inversed);
  --semantics-fill-status-subtle-secondary-inversed-static: var(
    --primitives-neutral-black-shade-15
  );
  --semantics-fill-status-success-secondary-default: var(--primitives-success-green-500-25);
  --semantics-fill-status-success-secondary-disabled: var(--primitives-success-green-500-25);
  --semantics-fill-status-success-secondary-focus: var(--primitives-success-green-500-25);
  --semantics-fill-status-success-secondary-hover: var(--primitives-success-green-500-50);
  --semantics-fill-status-success-secondary-pressed: var(--primitives-success-green-500-50);
  --semantics-fill-status-warning-secondary-default: var(--primitives-warning-orange-500-25);
  --semantics-fill-status-warning-secondary-disabled: var(--primitives-warning-orange-500-25);
  --semantics-fill-status-warning-secondary-focus: var(--primitives-warning-orange-500-25);
  --semantics-fill-status-warning-secondary-hover: var(--primitives-warning-orange-500-50);
  --semantics-fill-status-warning-secondary-pressed: var(--primitives-warning-orange-500-50);
}
