<button [class]="hostClasses()" [disabled]="state() === 'disabled'" (click)="onClick()">
  @if (showLabel()) {
    <span class="cl__label">{{ label() }}</span>
  }
  @if (showTrailingIcon() && icon() !== 'none') {
    @if (icon() === 'chevron') {
      <svg
        class="cl__icon"
        [class.cl__icon--rotated]="iconRotated()"
        [attr.width]="iconSize()"
        [attr.height]="iconSize()"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M9 6l6 6-6 6" />
      </svg>
    }
    @if (icon() === 'copy') {
      <svg
        class="cl__icon"
        [attr.width]="iconSize()"
        [attr.height]="iconSize()"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z" />
        <path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2" />
      </svg>
    }
    @if (icon() === 'edit') {
      <svg
        class="cl__icon"
        [attr.width]="iconSize()"
        [attr.height]="iconSize()"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" />
        <path d="M11 13l9 -9" />
        <path d="M15 4l5 5" />
      </svg>
    }
  }
</button>
