<button [class]="hostClasses()" [disabled]="state() === 'disabled'" (click)="onClick()">
  @if (showLabel()) {
    <span class="cl__label">{{ label() }}</span>
  }
  @if (showTrailingIcon() && icon() !== 'none') {
    @if (icon() === 'chevron') {
      <svg
        class="cl__icon"
        [class.cl__icon--rotated]="iconRotated()"
        [attr.width]="iconSize()"
        [attr.height]="iconSize()"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M9 6l6 6l-6 6" />
      </svg>
    }
    @if (icon() === 'copy') {
      <svg
        class="cl__icon"
        [attr.width]="iconSize()"
        [attr.height]="iconSize()"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path
          d="M7 9.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667l0 -8.666"
        />
        <path
          d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1"
        />
      </svg>
    }
    @if (icon() === 'edit') {
      <svg
        class="cl__icon"
        [attr.width]="iconSize()"
        [attr.height]="iconSize()"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
        <path d="M13.5 6.5l4 4" />
      </svg>
    }
  }
</button>
